/* Styles for images in psycomancy.html */
.images img {
  display: block;
  margin: 2em auto;
  width: 95% !important;
  max-width: 1600px !important;
  height: auto !important;
  object-fit: contain;
}
