body {
    background-position: center;
    background-size: cover;
    margin: 10px;
    background-color: rgb(5, 5, 5);

}

.text {
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
color: rgb(198, 182, 198);


}
.center-video {
    display: block;
    margin: 0 auto; /* centers horizontally */
}


a:hover {
    /* color: rgb(52, 85, 52); */
    color: rgb(170, 168, 168);
    }