body {
background-position: center;
background-size: cover;
margin: 20px;
background-color: rgb(255, 254, 255);
}

.text {
/* margin-bottom: 10px; */
text-align: left;
margin: 2em auto 4em;
width: 90% !important;
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
color: black
}

.images {
text-align: center;
margin: 4em auto 4em;
width: 60% !important;
max-width: 900px !important;
height: auto !important;
object-fit: contain;
}

.center-video {
display: block;
/* margin: 0 auto; centers horizontally */
margin: 4em auto 4em;
width: 60% !important;
max-width: 900px !important;
height: auto !important;
max-height: 400px !important;

}


a:hover {
color: rgb(187, 149, 181);
}

/* Add spacing between paragraphs on work.html */
.text p {
	margin: 4em; /* space below each paragraph */

}

/* Center images and iframes */
.text img {
display: block;
margin: 4em auto 4em; /* centers horizontally, adds space below */
width: 60% !important;
max-width: 900px !important;
height: auto !important;
max-height: 900px !important;
object-fit: contain;
}


/* Standardize all video iframes */
iframe {
  width: 60% !important;
  max-width: 900px !important;
  height: auto !important;
  max-height: 600px !important;
  aspect-ratio: 16 / 9 !important;
  display: block;
  margin: 4em auto 4em;
}

footer {
  font-family: Helvetica, Arial, sans-serif;
}

footer p {
  font-family: Helvetica, Arial, sans-serif;
}