body {
    margin: 0px;
}
.images {
background-color: white;
font-family: 'Times New Roman', Times, serif;
text-align: left; 
font-size: 17px;
margin-left: 10px;
margin-top: 10px;
color: rgb(63, 8, 60)
}
