body {
    background-position: center;
    background-size: cover;
    margin: 10px;
    background-color: rgb(5, 5, 5);
   /* background-color: rgb(216, 213, 213); */
}

.text {
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
color: rgb(198, 182, 198);
/* color: rgb(74, 73, 74); */

}
.center-video {
    display: block;
    margin: 0 auto; /* centers horizontally */
}

.rightside {
text-align: right;
font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: small;
 color: rgb(155, 76, 76);
 
}
a:hover {
    /* color: rgb(52, 85, 52); */
    color: black;
    }