body {
    margin: 0px;
}
.works {
background-image: url('../images/Untitled_Knobs_bg.png'); 
background-position: center;
background-repeat: space;
background-size: cover;
height: 6000px;   
font-family: 'Courier New', Courier, monospace;
font-style: italic;
text-align: center; 
font-size: 20px;
color: rgb(206, 200, 200)
}
.alignleft {
float: left;
}
.alignright {
    float: right;
 }
.aligncenter {
float: center;
 }    