body {
    margin: 10px;
}
.k {
text-align: left;
text-decoration: wavy;
text-decoration-style: double;
font-size: 15px;
text-transform: inherit;
-webkit-text-stroke: 0.2cqh;
width: 33.33%;
padding: 5px;
  }