body {
background-position: center;
background-size: cover;
margin: 20px;
background-color: rgb(5, 5, 5);
}

.text {
display:block; margin-top:30px; line-height:22px;
display: block;
margin: 50px 0;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
color: rgb(198, 182, 198);


}
.center-video {
display: block;
margin: 0 auto; /* centers horizontally */
}


a:hover {
color: rgb(170, 168, 168);
}