body {
background-position: center;
background-size: cover;
margin: 20px;
background-color: rgb(194, 194, 194);
}


.text {
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
max-width: 1200px !important;
color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
align-items: center;

}


.center-video {
display: block;
margin: 0 auto; /* centers horizontally */
}