body {
    margin: 0px;
}
.video {
background-color: rgb(38, 33, 58);
background-position: center;
background-repeat: space;
background-size: cover;
height: 10000px;   
font-family: 'Times New Roman', Times, serif;
font-style: italic;
text-align: center; 
font-size: 18px;
color: rgb(148, 71, 71)
}
.alignleft {
float: left;
}
.alignright {
    float: right;
 }
.aligncenter {
float: center;
 }    