body {

        margin: 20px;
}
.text {
color: black;
font-family: Arial, Helvetica, sans-serif;
height: 1000px; 
margin-left: 10px;
margin-top: 10px;
text-align: left; 
font-size: 14px;

}

/* Paragraph spacing site-wide */
p {
        margin: 0 0 1.5em;
}