body {
    margin: 0px;
}
/* .hbposter {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 1000px; 
 }  */
 .hbposter {
    background-image: url('../images/Hotel_Bloom_Poster.png');
    background-position: center;
    background-repeat: space;
    background-size: contain;
    height: 1200px; 
    width: 1400px;  
    font-family: 'Times New Roman', Times, serif;
    } 
    
