body {
    margin: 0px;
}

 .mxposter {
    background-image: url('../images/MaudlinE.jpg');
    background-position: center;
    background-repeat: space;
    background-size: cover;
    height: 1400px;   
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: flex end;
    font-size: 17px;
    color: rgb(138, 66, 66)
    } 