body {
    margin: 0px;
}
.other {
background-color: rgb(255, 251, 251);
background-position: center;
background-repeat: space;
background-size: cover;
height: 1500px;   
font-family: 'Times New Roman', Times, serif;
text-align: left; 
font-size: 17px;
margin-left: 10px;
margin-top: 10px;
color: rgb(63, 8, 60)
}