body {
        margin: 0px;
}
.cv {
background-color: rgb(38, 33, 58);
background-repeat: space;
background-size: cover;
height: 2000px;   
font-family: 'Times New Roman', Times, serif;
color: rgb(110, 69, 69);
font-style: italic;
text-align: left; 
font-size: 18px;