body {
        margin: 0px;
}
.cv {
        /* background-image: url('../images/flower-hotelbloom.png');  */
background-color: rgb(182, 140, 164);
        background-position: center;
        background-repeat: space;
        background-size: cover;
        height: 2000px;   
        font-family: 'Courier New', Courier, monospace;
        color: rgb(66, 26, 30);
        font-style: italic;
text-align: left; 
font-size: 20px;