body {
    margin: 0px;
}
/* .hbposter {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 1000px; 
 }  */
 .hbposter {
    background-image: url('../images/Hotel_Bloom_Poster.png');
    background-position: center;
    background-repeat: space;
    background-size: contain;
    height: 1200px; 
    width: 1600px;  
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    display: flex end;
    font-size: 17px;
    color: rgb(138, 66, 66)
    } 
    
