body {
    background-position: center;
    background-size: cover;
    margin: 10px;
    /* background-color: rgb(170, 209, 161); */
    color: white;

}
.text {
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
color: rgb(6, 7, 6);

}
.rightside {
text-align: right;
font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: small;
 color: rgb(155, 76, 76);
 
}
a:hover {
    /* color: rgb(52, 85, 52); */
    color: whitesmoke;
    }