body {
    margin: 0px;
}
.other {
/* background-image: url('../images/whereisdonnie.png');  */
background-color: rgb(30, 51, 6);
background-position: center;
background-repeat: space;
background-size: cover;
height: 1500px;   
font-family: 'Courier New', Courier, monospace;
font-style: italic;
text-align: left; 
font-size: 20px;
color: rgb(63, 8, 60)
}