body {

        margin: 20px;
}
.cv {
color: black;
height: 1000px; 
font-family: Arial, Helvetica, sans-serif;
margin-left: 10px;
margin-top: 10px;
text-align: left; 
font-size: 14px;

}

/* Paragraph spacing site-wide */
p {
        margin: 0 0 1.5em;
}