body {
background-position: center;
background-size: cover;
margin: 20px;
background-color: rgb(194, 194, 194);
}


.text {
margin-bottom: 10px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
color: rgb(0, 0, 0);

