

body {
background-color: black;
background-position:top;
background-size:cover;
 margin: 0px;
background-color: rgb(140, 119, 119);
}

.text {
margin-bottom: 10px;
text-align: center;
margin: 15px;
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
color: rgb(122, 84, 104);
}

.cv {
color: rgb(122, 84, 104);
margin: 15px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
}

.email {
color: rgb(252, 108, 218);
margin: 15px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
}

a:hover {
color: rgb(252, 108, 218);
}

/* Paragraph spacing site-wide */
p {
	margin: 0 0 1.5em; /* space below each paragraph */
}