body {
    background-position: center;
    background-size: cover;
    margin: 0px;
    background-color: rgb(249, 246, 246);
}
.text {
text-align: center;
font-family:Redaction35-Regular;
/* font-family: Georgia, 'Times New Roman', Times, serif; */
font-size: medium;
color: rgb(136, 128, 128);
}
.cv {
    color: black;
    margin: 15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;


}
a:hover {
    color: darkorange;
    }