


body {
    background-position:top;
    background-size:cover;
    margin: 0px;
    background-color: rgb(0, 0, 0);
}


.text {
text-align: center;
margin: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: small;
color: rgb(252, 108, 218);
}

.cv {
    color:  rgb(247, 77, 207);
    margin: 15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.email {
    color: rgb(250, 1, 1);
    margin: 15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;

}


a:hover {
    /* color: darkorange; */
    color: black;
    }