

@font-face {
font-family: "redaction";
src:url('redaction/Redaction100-Regular.otf');

}

body {
    background-position:top;
    /* background-image: url('../images/d-IMG_4308.png'); */
    background-size:cover;
    margin: 0px;
    /* background-color: rgb(225, 126, 126); */
    background-color: rgb(162, 160, 160);
}

.text1 {

    text-align: left;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(4, 4, 4);
    }

.text {

text-align: center;
margin: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
color: whitesmoke;
}

.cv {
    color: black;
    margin: 15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;


}
a:hover {
    /* color: darkorange; */
    color: black;
    }