

.body {
background-position:top;
background-size:cover;
 margin: 0px;
background-color: rgb(0, 0, 0);
}

.text {
text-align: center;
margin: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
color: rgb(252, 108, 218);
}

.cv {
color:  rgb(247, 77, 207);
margin: 15px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
}

.email {
color: rgb(252, 108, 218);
margin: 15px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
}

a:hover {
color: rgb(192, 133, 159);
}