

body {
background-color: black;
background-position:top;
background-size:cover;
 margin: 0px;
background-color: rgb(146, 129, 132);
}

.text {
margin-bottom: 10px;
text-align: center;
margin: 15px;
font-family: Arial, Helvetica, sans-serif
font-size: medium;
color: rgb(252, 108, 218);
}

.cv {
color:  rgb(247, 77, 207);
margin: 15px;
text-align: center;
font-family: Arial, Helvetica, sans-serif
font-size: medium;
}

.email {
color: rgb(252, 108, 218);
margin: 15px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
}

a:hover {
color: rgb(252, 108, 218);
}

/* Paragraph spacing site-wide */
p {
	margin: 0 0 1.5em; /* space below each paragraph */
}